* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #333;
    overflow-x: hidden;
}
h1 {
	font-size: 35px;
}
h2 {
	font-size: 25px;
}
a {
    color: #267c30;
}
a:hover {
    color: #4eb05a;
    text-decoration: none;
}
a.ref-hook {
	font-size: 14px;
	text-decoration: none;
	color: #bbb;
	position: absolute;
    left: -18px;
    top: 7px;
}
a.ref-hook:hover {
	color: #8a8888;
}
p {
    margin-bottom: 10px;
    line-height: 1.7;
}
code {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    padding: 2px 3px;
    background-color: #f2f2f2;
}
pre {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    white-space: pre-line;
    background-color: #fafafa;
    line-height: 1.8;
    padding: 5px 12px;
    margin: 6px 0;
}


.notice {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff8b8;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, .15);
}

.wrapper {
    overflow-x: hidden;
}

.header {
	width: 650px;
	max-width: 100%;
    margin: 70px auto 0;
    text-align: center;
}
.logo a {
    display: inline-block;
}
.logo img {
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.1);
}
.container {
    width: 100%;
    max-width: 650px;
    margin: 80px auto 80px;
}

.github-wrapper {
    position: relative;
}
.github {
    position: fixed;
    top: 20px;
	right: -42px;
	z-index: 99;
    border-radius: 4px;
    transform: scale(1) rotate(45deg);
	transition: transform .2s;
	box-shadow: 3px 6px 25px 8px rgba(0, 0, 0, 0.30);
}
.github:hover {
    transform: scale(1.1) rotate(45deg);
}
.github a {
    display: flex;
    background-color: #363636;
    padding: 5px 70px;
    color: #fff;
    text-decoration: none;
}

.title-heading {
	position: relative;
    margin-bottom: 30px;
}

.doc {
    margin: 100px 0 70px;
}
.doc-heading {
	text-align: center;
    margin-bottom: 35px;
}

.post-man-doc {
    margin: 80px 0;
}

.select-version-wrap > strong {
	margin-bottom: 10px;
}
.select-wrapper {
    background-color: #f1f1f1;
    padding: 0 0 0 15px;
    display: inline-flex;
    align-items: center;
}
.select-label {
	font-size: 18px;
	color: #757575;
}

#select-version {
	position: relative;
}
#selected-version {
	font-size: 16px;
	border: 1px solid #cacaca;
    padding: 10px 35px;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
	color: #757575;
}
#selected-version:before {
    content: '';
    position: absolute;
    top: 18px;
    right: 16px;
    height: 2px;
    width: 5px;
    background: #333333;
    transform: skew(0deg, 35deg);
}
#selected-version.show:before {
	transform: skew(0deg, 140deg);
}
#selected-version:after {
    content: '';
    position: absolute;
    top: 18px;
    right: 11px;
    height: 2px;
    width: 5px;
    background: #333333;
    transform: skew(0deg, -35deg);
}
#selected-version.show:after {
	transform: skew(0deg, -140deg);
}

#dropdown {
    width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 2px 2px 8px 4px rgb(0 0 0 / 9%);
    z-index: 5;
    top: 43px;
}
#dropdown li {
    list-style: none;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 14px;
    color: #757575;
}
#dropdown li:hover {
	background-color: #eee;
}


.select-version-wrap select {
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 8px 30px;
    margin-left: 12px;
    background-color: #f1f1f1;
    outline: none;
    font-size: 18px;
    color: #757575;
	cursor: pointer;
}
.select-version-wrap select:focus-visible,
.select-version-wrap select:focus {
	border: 1px solid #a2a2a2;
}

.routes .base-url-notice {
    font-size: 9px;
    font-weight: 500;
    padding: 5px;
    background-color: #fffcdd;
    color: #939393;
}

.route {
    margin-top: 60px;
}
.route-wrapper {
	margin-top: 30px;
}
.route-version {
    margin-bottom: 25px;
}
.route-heading {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.route-badge-sucess,
.route-badge-danger {
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 5px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 500;
}
.route-badge-sucess {
    background-color: #95f395;
}
.route-badge-danger {
    background-color: #ffbbbb;
}

.route-detail {
    margin-bottom: 25px;
}
.route-sort-description {
    font-size: 12px;
    color: #797979;
    margin-top: 5px;
}


.example {
    position: relative;
}

.code-wrap {
    margin-bottom: 40px;
}
.example-pre {
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
    position: relative;
    overflow-x: scroll;
    height: 350px;
    background-color: #f2f2f2;
	color: #505050;
    white-space: pre;
    margin-top: 10px;
	line-height: 1.75;
	tab-size: 22px;
	-moz-tab-size: 22px;
}

.code-implementations-wrapper {
	margin-top: 80px;
}
.code-pen h4 {
	margin-bottom: 12px;
}

/* footer */
footer {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    background-color: #dbdbdb;
    /* color: #fff; */
}
.sponsor {
    padding: 20px 20px 50px;
    margin: 40px 0;
}
.sponsor h2 {
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 15px;
    background: #ebebeb;
    display: inline-block;
    padding: 0px 15px;
    border-radius: 5px;
}
.sponsor-list img {
    width: 135px;
}
footer .author {
    color: #333;
    font-weight: 500;
}
footer .author:hover {
    color: #4eb05a;
}
footer .copyright {
    margin-bottom: 25px;
}


@media (max-width: 767px) {
	.wrapper {
		padding: 0 10px;
	}
	.example-route pre {
		overflow-x: scroll;
	}
}