<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="BD API is a RestAPI service. Developed by Abm Sourav. Divisions, Districts, Upazilla, Thana, Post Office, Post Code etc of Bangladesh are available in Bangla and English within endpoints.">
    
	<meta name="googlebot" content="index, follow"/>
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:description" content="BD API is a RestAPI service. Developed by Abm Sourav." />
	<meta name="twitter:title" content="BD API" />
	<meta name="twitter:creator" content="@abm_sourav">

	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="BD API" />
	<meta property="og:description" content="BD API is a RestAPI service. Developed by Abm Sourav. Divisions, Districts, Upazilla, Thana, Post Office, Post Code etc of Bangladesh are available in Bangla and English within endpoints." />
	<meta property="og:url" content="https://bdapis.com/" />
	<meta property="og:site_name" content="BD API" />
	<link rel="canonical" href="https://bdapis.com/" />

	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0M7ERHP8HZ"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-0M7ERHP8HZ');
	</script>

	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <title>BD API | RestAPI Service</title>
</head>
<body>

    <div class="wrapper">

        <div class="github-wrapper">
            <div class="github">
				<a href="https://github.com/AbmSourav/bdapis">
					<svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32px" height="32px" fill-rule="evenodd"><path fill-rule="evenodd" d="M 16 4 C 9.371094 4 4 9.371094 4 16 C 4 21.300781 7.4375 25.800781 12.207031 27.386719 C 12.808594 27.496094 13.027344 27.128906 13.027344 26.808594 C 13.027344 26.523438 13.015625 25.769531 13.011719 24.769531 C 9.671875 25.492188 8.96875 23.160156 8.96875 23.160156 C 8.421875 21.773438 7.636719 21.402344 7.636719 21.402344 C 6.546875 20.660156 7.71875 20.675781 7.71875 20.675781 C 8.921875 20.761719 9.554688 21.910156 9.554688 21.910156 C 10.625 23.746094 12.363281 23.214844 13.046875 22.910156 C 13.15625 22.132813 13.46875 21.605469 13.808594 21.304688 C 11.144531 21.003906 8.34375 19.972656 8.34375 15.375 C 8.34375 14.0625 8.8125 12.992188 9.578125 12.152344 C 9.457031 11.851563 9.042969 10.628906 9.695313 8.976563 C 9.695313 8.976563 10.703125 8.65625 12.996094 10.207031 C 13.953125 9.941406 14.980469 9.808594 16 9.804688 C 17.019531 9.808594 18.046875 9.941406 19.003906 10.207031 C 21.296875 8.65625 22.300781 8.976563 22.300781 8.976563 C 22.957031 10.628906 22.546875 11.851563 22.421875 12.152344 C 23.191406 12.992188 23.652344 14.0625 23.652344 15.375 C 23.652344 19.984375 20.847656 20.996094 18.175781 21.296875 C 18.605469 21.664063 18.988281 22.398438 18.988281 23.515625 C 18.988281 25.121094 18.976563 26.414063 18.976563 26.808594 C 18.976563 27.128906 19.191406 27.503906 19.800781 27.386719 C 24.566406 25.796875 28 21.300781 28 16 C 28 9.371094 22.628906 4 16 4 Z"></path></svg>
				</a>
			</div>
        </div>

        <header class="header">
            <div class="logo">
                <a href="https://bdapis.com/">
                    <img src="assets/img/BDAPI.png" alt="BD API">
                </a>
            </div>
        </header>

        <div class="container">
            <div class="intro">
                <p>
                    BD API is a RestAPI service. Developed by <a href="mailto:keramotul.islam@gmail.com?subject=BD API">Keramot UL Islam.</a><br>
                    Divisions, Districts, Upazilla, Thana, Post Office, Post Code etc of Bangladesh are available in Bangla and English within endpoints.      
                </p>
                <p><strong>v1.x is a MVP</strong> of this project and also open-source and v1.x will always remain open-source.</p>
				<p>Do you wanto to become Sponsor/Investor for full project? Contact <a target="_blank" href="https://m.me/sourav926">Here</a>.</p>

				<!-- <p>
					BD API is now also available on "Rapid API" market place. 
					<a href="https://rapidapi.com/AbmSourav/api/bdapi">Click Here</a>
				</p> -->
            </div>

            <div class="doc">
                <h1 class="doc-heading">Documentation</h1>

                <div class="routes">
                    <p>
						Base URL: <code>https://bdapis.com/</code>
					</p>
                    <p>Namespace: <code>/api</code></p>
                    <p>Version: Version number. For Example: <code>/v1.1</code></p>

                    <div class="route route-v1">
						<h2 class="title-heading" id="routes"><a class="ref-hook" href="#routes">#</a>Rest API</h2>

						<div class="select-version-wrap">
							<div class="route-version">
								<h4 class="route-heading">v1.x Routes</h4>
								<span class="route-badge-sucess">available</span>
							</div>

							<div class="select-wrapper">
								<strong class="select-label">Select Version</strong>
								
								<ul id="select-version">
									<button id="selected-version">v1.1</button>
									<div id="dropdown" style="display: none;">
										<li class="select-version-option" data-version="v1.0">v1.0</li>
										<li class="select-version-option" data-version="v1.1">v1.1</li>
									</div>
								</ul>
							</div>
						</div>

						<div id="route-doc-input"></div>

						<template class="route-template" data-version="v1.0">
							<div class="route-wrapper">
								<div class="route-detail">
									<div class="route-name">Route: <code>/divisions</code></div>
									<div class="route-sort-description">All Divisions</div>
									<pre>
										division: String
										divisionbn: String
									</pre>
								</div>
		
								<div class="route-detail">
									<div class="route-name">Route: <code>/districts</code></div>
									<div class="route-sort-description">All Districts</div>
									<pre>
										district: String
										districtbn: String
									</pre>
								</div>
		
								<div class="route-detail">
									<div class="route-name">Route: <code>/division/:divisionName</code></div>
									<div class="route-sort-description">All Districts and Upazilla of the given Division</div>
									<pre>
										district: String
										upazilla: array/list
									</pre>
								</div>
							</div>
						</template>

						<template class="route-template" data-version="v1.1">
							<div class="route-wrapper">
								<div class="route-detail">
									<div class="route-name">Route: <code>/divisions</code></div>
									<div class="route-sort-description">All Divisions</div>
									<pre>
										division: String
										divisionbn: String
										coordinates: String
									</pre>
								</div>
		
								<div class="route-detail">
									<div class="route-name">Route: <code>/districts</code></div>
									<div class="route-sort-description">All Districts</div>
									<pre>
										district: String
										districtbn: String
										coordinates: String
									</pre>
								</div>
		
								<div class="route-detail">
									<div class="route-name">Route: <code>/division/:divisionName</code></div>
									<div class="route-sort-description">All Districts and Upazilla of the given Division</div>
									<pre>
										district: String
										coordinates: String
										upazilla: array/list
									</pre>
								</div>
							</div>
						</template>
                    </div>

                    <div class="route route-v2">
                        <div class="route-version">
                            <h4 class="route-heading">v2.x Routes</h4>
                            <span class="route-badge-danger">not available</span>
                        </div>

                        <div class="route-detail">
                            <div class="route-name">Route: <code>/division/:divisionName</code></div>
                            <div class="route-sort-description">All Districts, Upazilla, Thana, Post Office, Post Code of the given Division</div>
                            <pre>
                                district: object {en: String, bn: String}
								coordinates: String
                                upazilla: object {en: String, bn: String}
                                thana: object {en: String, bn: String}
                                post: object { postOffice: {en: String, bn: String}, postCode: {en: Number, bn: Number} }
                            </pre>
                        </div>

                        <div class="route-detail">
                            <div class="route-name">Route: <code>/district/:districtName</code></div>
                            <div class="route-sort-description">All Upazilla, Thana, Post Office, Post Code of the given District</div>
                            <pre>
                                upazilla: object {en: String, bn: String}
                                thana: object {en: String, bn: String}
                                post: object { postOffice: {en: String, bn: String}, postCode: {en: Number, bn: Number} }
                            </pre>
                        </div>

                        <div class="route-detail">
                            <div class="route-name">Route: <code>/upazilla</code></div>
                            <div class="route-sort-description">All Upazilla</div>
                            <pre>
                                upazilla: String
                                upazillabn: String
                            </pre>
                        </div>

                        <div class="route-detail">
                            <div class="route-name">Route: <code>/thana</code></div>
                            <div class="route-sort-description">All Thana</div>
                            <pre>
                                thana: String
                                thanabn: String
                            </pre>
                        </div>

                        <div class="route-detail">
                            <div class="route-name">Route: <code>/postOffice</code></div>
                            <div class="route-sort-description">All Post Office, Post Codes</div>
                            <pre>
                                postOffice: String
                                postOfficebn: String
                                postCode: String
                                postCodebn: String
                            </pre>
                        </div>
                    </div>

                </div>
            </div>

            <div class="example">
                <h2 class="title-heading" id="examples"><a class="ref-hook" href="#examples">#</a> Examples</h2>

                <div class="code-wrap">
                    <div class="example-route">
                        Route:
                        <pre>https://bdapis.com/api/v1.1/divisions</pre>
                    </div>
                    <pre class="example-pre">
						<%= allDivisions %>
                    </pre>
                </div>

                <div class="code-wrap">
                    <div class="example-route">
                        Route:
                        <pre>https://bdapis.com/api/v1.1/division/rangpur</pre>
                    </div>
                    <pre class="example-pre">
						<%= divisionDetails %>
                    </pre>
				</div>
				
				<div class="code-implementations-wrapper">
					<div class="code-pen">
						<h2 id="code-implementations" class="title-heading"><a class="ref-hook" href="#code-implementation">#</a> Code Implementations</h2>
						<p class="codepen" data-height="470" data-theme-id="light" data-default-tab="js,result" data-user="abmsourav" data-slug-hash="WNxVrme" data-preview="true" style="height: 391px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="BD API Example">
							<span>See the Pen <a href="https://codepen.io/abmsourav/pen/WNxVrme">
							BD API Example</a> by Keramot UL Islam (<a href="https://codepen.io/abmsourav">@abmsourav</a>)
							on <a href="https://codepen.io">CodePen</a>.</span>
						</p>
					</div>
				</div>
            </div>
        </div>
    </div>

    <footer>
		<div class="sponsor">
			<h2>Sponsors</h2>
			<div class="sponsor-list">
				<a href="https://www.exonhost.com/" target="_blank">
					<img src="assets/img/ExonHost-logo.png" alt="ExonHost">
				</a>
			</div>
		</div>

        <p class="copyright">Copyright &copy; 2020 - 2024, <a class="author" href="https://abmsourav.com">Keramot UL Islam</a> </p>
    </footer>

	<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
	<script src="../assets/js/main.js"></script>
</body>
</html>